<div>
    <div class="title">RULES GENERATOR</div>

    <h1> If <span class="highlight-color">THIS</span> then <span class="highlight-color">THAT</span></h1>

    <form name="ruleForm" ng-submit="processRule()" class="form-horizontal">
        <fieldset>

            <!-- Form Name -->
            <legend>Create new rule</legend>

            <!-- Text input-->
            <div class="form-group">
                <label class="col-md-3 control-label" for="ruleName">Rule name:</label>
                <div class="col-md-9">
                    <input type="text" ng-model="newRule.name" ng-minlength="5" id="ruleName" name="ruleName" placeholder="Enter rule name" class="form-control input-md" required>
                    <!--<span class="help-block">Define rule name</span>-->
                    <p ng-show="ruleForm.ruleName.$invalid && !ruleForm.ruleName.$pristine" class="text-danger">Rule name is required. Enter minimum 5 characters.</p>
                </div>
            </div>

            <!-- Text input-->
            <div class="form-group">
                <label class="col-md-3 control-label" for="ruleDescription">Rule description:</label>
                <div class="col-md-9">
                    <input type="text" ng-model="newRule.description" ng-minlength="5" id="ruleDescription" name="ruleDescription" placeholder="Describe what the rule does" class="form-control input-md" required>
                    <!--<span class="help-block">Define short description about the rule, what the rule does</span>-->
                    <p ng-show="ruleForm.ruleDescription.$invalid && !ruleForm.ruleDescription.$pristine" class="text-danger">Rule description is required. Enter minimum 5 characters.</p>
                </div>
            </div>


            <!-- Multiple Checkboxes -->
            <div class="form-group">
                <label class="col-md-3 control-label" for="isEnabled">Is enabled?:</label>
                <div class="col-md-9">
                    <!--<div class="checkbox">-->
                    <label for="isEnabled-0">
                        <input type="checkbox" ng-model="newRule.isEnabled" ng-init="newRule.isEnabled = true" name="isEnabled" id="isEnabled-0" value="1"> {{newRule.isEnabled}}
                    </label>
                    <p class="help-block">Check this field if rule can be fired</p>
                    <!--</div>-->
                </div>
            </div>

            <!-- Multiple Checkboxes -->
            <div class="form-group">
                <label class="col-md-3 control-label" for="periodicRule">Is periodicRule?:</label>
                <div class="col-md-9">
                    <!--<div class="checkbox">-->
                    <label for="periodicRule-0">
                        <input id="periodicRule-0" ng-model="newRule.isPeriodic" name="periodicRule" type="checkbox" ng-change="newRule.runEvery = null"> Periodic rule
                    </label>
                    <p class="help-block">Check if rule should be run periodically</p>
                    <!--</div>-->
                </div>
            </div>

            <!-- Text input-->
            <div ng-show="newRule.isPeriodic" class="form-group">
                <label class="col-md-3 control-label" for="runEvery">Time in ms: </label>
                <div class="col-md-4">
                    <!-- one year in ms: 31622400000-->
                    <input type="number" min="1" max="31622400000" ng-model="newRule.runEvery" ng-minlength="1" ng-maxlength="11" id="runEvery" name="runEvery" placeholder="Enter time in milliseconds" class="form-control input-md" ng-required="newRule.isPeriodic">
                    <span class="help-block">Enter period of time between subsequent calls</span>
                    <p ng-show="ruleForm.runEvery.$invalid && !ruleForm.runEvery.$pristine" class="text-danger">Field is required when 'Periodic rule' checkbox is checked.</p>
                </div>
            </div>
        </fieldset>
    <hr/>

    <div class="antecedent">
        <!-- Multiple Checkboxes -->
        <div ng-show="newRule.isPeriodic && newRule.runEvery > 0" class="form-group">
            <div class="col-md-12">
                <!--<div class="checkbox">-->
                <label for="skipAntecedent">
                    <input id="skipAntecedent" ng-model="newRule.skipAntecedent" ng-click="skipAntecedent()" name="skipAntecedent" type="checkbox" value="true"> Skip antecedent
                </label>
                <p class="help-block">Check if you only want to perform action without checking the condition</p>
                <!--</div>-->
            </div>
        </div>

        <div ng-show="!newRule.skipAntecedent" ng-model="antecedent">
            <h2 class="highlight-color">THIS</h2>
                Select device:
                <br/>
                <div class="btn-group" ng-init="selected.antecedentDeviceIndex = -1">

                    <label ng-repeat="device in devices | filter:searchDevice:strict" class="btn btn-default active">
                        <input ng-model="newRule.antecedentData.deviceId" type="radio" name="device" ng-click="selected.antecedentDeviceIndex = $index; show.operationBox = false; show.comparisonBox = false" value="{{device.id}}" autocomplete="off" ng-required="!newRule.antecedentData.deviceId && !newRule.skipAntecedent">
                        {{device.name}}
                        <p class="text-info">{{device.description}}</p>
                        {{device.ip}}
                    </label>
                    <p ng-show="ruleForm.device.$invalid && !ruleForm.device.$pristine" class="text-danger">Field is required.</p>
                </div>

                <div ng-show="selected.antecedentDeviceIndex > -1" class="animate-show">
                    <hr/>
                    <button ng-click="selected.antecedentDeviceIndex = -1; show.operationBox = false; show.comparisonBox = false; show.consequent = false;" class="back-button btn btn-default">Step back</button>
                    <h4>Select function:</h4>

                    <div class="btn-group" ng-init="show.operationBox = false">
                        <label ng-repeat="func in devices[selected.antecedentDeviceIndex].api" class="btn btn-default active">
                            <input ng-model="newRule.antecedentData.functionToCall" type="radio" name="functions" ng-click="selected.antecedentFunctionIndex = $index; show.operationBox = true; show.comparisonBox = false" value="{{func.name}}" autocomplete="off" ng-required="!newRule.antecedentData.functionToCall && !newRule.skipAntecedent">
                            {{func.title}}
                            <p class="text-muted">{{func.description}}</p>
                        </label>
                    </div>
                </div>

                <div ng-show="show.operationBox" class="animate-show">
                    <hr/>
                    <button ng-click="show.operationBox = false; show.comparisonBox = false; show.consequent = false" class="back-button btn btn-default">Step back</button>
                    <h4>Select operation:</h4>

                    <div class="btn-group" ng-init="show.comparison = false">
                        <label class="btn btn-default active">
                            <input type="radio" ng-model="operation" name="operations" value="none" ng-click="selected.operationIndex = $index; show.comparisonBox = false; show.consequent = true" autocomplete="off"> None
                        </label>
                        <label class="btn btn-default active">
                            <input type="radio" ng-model="operation" name="operations" value="toConst" ng-click="selected.operationIndex = $index; show.comparisonBox = true; show.consequent = true" autocomplete="off"> Compare to constant value
                        </label>
                        <label class="btn btn-default active">
                            <input type="radio" ng-model="operation" name="operations" value="toFunctionResult" ng-click="selected.operationIndex = $index; show.comparisonBox = true; show.consequent = true" autocomplete="off"> Compare to other device result
                        </label>
                        <!--<label class="btn btn-default active">-->
                        <!--<input type="radio" ng-model="operation" name="operations" value="makeAnExpression" ng-click="selected.operationIndex = $index; show.comparisonBox = true; show.consequent = true" autocomplete="off"> Make an expression-->
                        <!--</label>-->
                    </div>
                </div>

                <div ng-show="show.comparisonBox" class="animate-show">
                    <hr/>
                    <button ng-click="show.comparisonBox = false; show.consequent = false" class="back-button btn btn-default">Step back</button>

                    <div ng-if="operation == 'toConst'">
                        <!-- Select Basic -->
                        <div class="form-group">
                            <label class="col-md-2 control-label" for="operator">Select operator</label>
                            <div class="col-md-2">
                                <select ng-model="newRule.antecedent.operator" ng-options="op for op in operators" id="operator" name="operator" class="form-control">
                                    <option value="" disabled selected>Select operator</option>
                                </select>
                            </div>
                            <div class="col-md-5"></div>
                        </div>

                        <!-- Text input-->
                        <div class="form-group" ng-show="newRule.antecedent.operator && newRule.antecedent.operator != 'none'">
                            <label class="col-md-3 control-label" for="referenceValue">Reference value</label>
                            <div class="col-md-3">
                                <input type="text" ng-model="newRule.antecedent.referenceValue" id="referenceValue" name="referenceValue" placeholder="Enter reference value" class="form-control input-md">
                                <!--<span class="help-block">Enter refernce value</span>-->
                            </div>
                            <div class="col-md-5"></div>
                        </div>

                        <div class="col-md-12" ng-show="newRule.antecedent.referenceValue">
                            <br/>
                            <label class="btn btn-default active">
                                <input type="checkbox" ng-model="newRule.compareToResultOfOtherCondition" name="operations" value="toResultOfOtherCondition" ng-click="selected.operationIndex = $index; show.comparisonBox = true; show.consequent = true" autocomplete="off"> Connect with condition from other rule
                            </label>

                            <div ng-if="newRule.compareToResultOfOtherCondition">
                                <h4>Choose whether logical expression should be conjunction or alternative:</h4>
                                <label class="btn btn-default active">
                                    <input type="radio" ng-model="newRule.logicalExpression" name="logicalExpression" value="and" autocomplete="off"> AND
                                </label>
                                <label class="btn btn-default active">
                                    <input type="radio" ng-model="newRule.logicalExpression" name="logicalExpression" value="or" autocomplete="off"> OR
                                </label>

                                <h4>Select existing rule antecedent:</h4>
                                <!--<label>Search: <input ng-model="search.$"></label>-->
                                <label ng-repeat="rule in rules | filter:search:strict" class="btn btn-default active">
                                    <input ng-model="newRule.existingRule.id" type="radio" name="existingRule" value="{{rule._id}}" autocomplete="off">
                                    {{rule.name}}
                                    <p class="text-muted">{{rule.description}}</p>
                                    <p class="text-muted">{{rule.antecedent}}</p>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div ng-if="operation == 'toFunctionResult'">
                        <h4>Select operation:</h4>
                        <select ng-model="newRule.anotherDevice.operator" ng-options="op for op in operators" id="anotherDeviceOperator" name="anotherDeviceOperator" class="form-control">
                            <option value="" disabled selected>Select operator:</option>
                        </select>
                        <h4>Select device:</h4>
                        <div class="btn-group" ng-show="newRule.anotherDevice.operator && newRule.anotherDevice.operator != 'none'" ng-init="selected.consequentDeviceIndex = -1">
                            <label ng-repeat="device in devices" class="btn btn-default active">
                                <input type="radio" ng-model="newRule.anotherDevice.deviceId" name="devices" ng-click="selected.anotherDeviceIndex = $index" value="{{device.id}}" autocomplete="off">
                                {{device.name}}
                                <p class="text-info">{{device.description}}</p>
                                {{device.ip}}
                            </label>
                        </div>

                        <div ng-show="selected.anotherDeviceIndex > -1" class="animate-show">
                            <hr/>
                            <button ng-click="selected.consequentDeviceIndex = -1; show.operationBox = false" class="back-button btn btn-default">Step back</button>
                            <h4>Select function:</h4>

                            <div class="btn-group">
                                <label ng-repeat="func in devices[selected.anotherDeviceIndex].api" class="btn btn-default active">
                                    <input type="radio" ng-model="newRule.anotherDevice.functionToCall" ng-click="selected.anotherDeviceFunctionIndex = $index" name="anotherDeviceFunctionToCall" value="{{func.name}}" autocomplete="off">
                                    {{func.title}}
                                    <p class="text-muted">{{func.description}}</p>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
    </div>
    <!--end antecedent-->

    <div ng-show="show.consequent || skipAntecedent" class="consequent">
        <hr/>
        <div ng-model="consequent" class="animate-show">
            <h2 class="highlight-color">THEN</h2>
            Select device:
            <br/>
            <div class="btn-group" ng-init="selected.consequentDeviceIndex = -1">
                <label ng-repeat="device in devices" class="btn btn-default active">
                    <input type="radio" ng-model="newRule.consequent.deviceId" name="devices" ng-click="selected.consequentDeviceIndex = $index" value="{{device.id}}" autocomplete="off" ng-required="!newRule.consequent.deviceId">
                    {{device.name}}
                    <p class="text-info">{{device.description}}</p>
                    {{device.ip}}
                </label>
            </div>

            <div ng-show="selected.consequentDeviceIndex > -1" class="animate-show">
                <hr/>
                <button ng-click="selected.consequentDeviceIndex = -1; show.operationBox = false" class="back-button btn btn-default">Step back</button>
                Select function:<br/>

                <div class="btn-group">
                    <label ng-repeat="func in devices[selected.consequentDeviceIndex].api" class="btn btn-default active">
                        <input type="radio" ng-model="newRule.consequent.functionToCall" ng-click="selected.consequentFunctionIndex = $index" name="functionToCall" value="{{func.name}}" autocomplete="off" ng-required="!newRule.consequent.functionToCall">
                        <!--<input type="radio" ng-model="newRule.consequent.params" name="params" ng-value="func.params" value="{{func.params}}" autocomplete="off">-->
                        {{func.title}}
                        <p class="text-muted">{{func.description}}</p>
                    </label>
                </div>
            </div>
        </div>
    </div>
    <!--end consequent-->

    <br/>
    <button type="submit" class="btn btn-primary" ng-disabled="ruleForm.$invalid">Save new rule</button>
    </form>

</div>