<div ng-controller="WebInterfacesController">
    <h2>Select device:</h2>

    <select ng-model="WebInterface" ng-options="ui.name for ui in WebInterfaces">
        <!--<option value="">(blank)</option>-->
    </select>
    url of the WebInterface: <code>{{WebInterface.url}}</code>
    <hr/>

    <div>
        <div class="anim" ng-include="WebInterface.url"></div>
    </div>
</div>

