<div class="text-center">
    <button data-ng-click="fireAllPeriodicRules()" class="btn btn-primary btn-sm">Start all periodic rules</button>
    <button data-ng-click="stopAllPeriodicRules()" class="btn btn-primary btn-sm">Stop all periodic rules</button>

    <hr/>

    <div class="title">RULES LIST</div>
    <br/>
    <label>Search: <input ng-model="search.$"></label>
    <hr/>

    <div ng-repeat="rule in rules | filter:search" class="rule">
        <a href="#{{rule._id}}"></a>
        <div style="width: 100%; height:10px; display:block;" ng-class="{disabledRule: !rule.isEnabled, enabledRule: rule.isEnabled, periodicRule: rule.runEvery > 0}"></div>

        <div>Name: <strong>{{rule.name}}</strong></div>
        <div ng-show="rule.description">Description: {{rule.description}}</div>

        Is enabled: {{rule.isEnabled}}
        <span ng-show="rule.runEvery > 0"><strong>Run every: {{rule.runEvery}} ms</strong></span>
        <br/>

        <button data-ng-click="fireRule(rule._id)" class="btn btn-info btn-sm">Fire once</button>
        <button data-ng-click="enableRule(rule._id)" ng-disabled="rule.isEnabled" ng-class="{active: !rule.isEnabled}" class="btn btn-success btn-sm">Enable</button>
        <button data-ng-click="disableRule(rule._id)" ng-disabled="!rule.isEnabled" ng-class="{disabled: !rule.isEnabled}" class="btn btn-warning btn-sm">Disable</button>
        <button ng-really-message="Are you sure you want to delete this rule?" data-ng-click="deleteRule(rule._id)" class="btn btn-danger btn-sm">Delete</button>
    </div>

</div>