body {
    padding: 10px;
}

div.footer {
    width: 100%;
    text-align: center;
}

.content {
    background: #E2EFFC;
    border: 1px solid #7EB4EA;
    /*max-width: 800px;*/
    margin: 0 auto;
    padding: 10px;
    margin-top: 60px;
}

.title {
    background: #3399FF;
    color: #ffffff;
    padding: 5px;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
}

.navbar {
    padding: 10px;
    text-align: center;
    background: #ffffff;
    border-bottom: 1px solid #666;
}

ul {
    list-style-type: none;
}

hr {
    border: 1px solid #3399ff;
    width: 90%;
    /*height: 1px;*/
    /*color: #333;*/
}


.anim.ng-enter {
    animation: fadein 1.5s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.back-button {
    float: right;
}

.antecedent {
    background: #c4e3f3;
    padding: 15px;
}

.consequent {
    background: #c4e3f3;
    padding: 15px;
}

.animate-show {
    -webkit-transition:all linear 0.3s;
    transition:all linear 0.3s;
}
.animate-show.ng-hide {
    opacity: 0;
}

.highlight-color {
    color: #3399ff;
}

.rule {
    display: inline-block;
    width: 390px;
    margin: 5px;
    border: 1px solid #3399ff;
    padding: 5px;
    text-align: left;
}

.rule:hover {
    background: #b1d9fc;
}

.disabledRule {
    background: #C77 !important;
}

.enabledRule {
    background: #7C7;
}

.periodicRule {
    background: #c7c;
}

.antecedentData {
    text-indent: 15px;
}

.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
}